#{extends 'Mails/layout.html' /}
 <layout label="Text only">
    <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr>
            <td class="w580" width="580">
                <p align="left" class="article-title"><singleline label="Title">Estimado Sr / Sra / Srita:</singleline></p>
                <div align="left" class="article-content">
                    <multiline label="Description">
                    <p>Agradecemos la confianza depositada en Seguros El Roble, para nosotros es un gusto presentarle nuestra propuesta de Seguro, la cual le garantiza tranquilidad total al momento de un percance.</p>
                    <p>Seguros El Roble se ha posicionado como la Aseguradora privada No. 1 a nivel Centroamericano, nuestra experiencia de más de 40 años en el Ramo de Automóvil nos ha permitido desarrollar una gama de Servicios y Valores Agregados que se traducen en Soluciones Efectivas al momento de un siniestro, siendo algunas las siguientes:</p>
                    
                    <ul>
	                    <li>Atención los 365 días del año</li>
						<li>La Flota de vehículos de Atención de Emergencias más grande de Guatemala</li>
						<li>Atención de Emergencias en la Ciudad Capital  hasta un tiempo máximo de 30 minutos</li>
						<li>Pagos indemnizatorios en el lugar de la emergencia para solucionar emergencias con complicaciones legales por lesiones o fallecidos SIN LIMITE en todo el territorio nacional</li>
						<li>Seguimiento en tiempo real de las emergencias de tránsito con los siguientes beneficios:
							<ul>
								<li>Asignación y Logística de emergencia de tránsito a través de tecnología GPS y datos móviles</li>
								<li>Correo electrónico con el preliminar de la emergencia de Tránsito</li>
								<li>Mensajes de texto confirmando la asignación del representante del servicio (Asesor de Emergencia, grúa y abogado),  y tiempos de entrega</li>
								<li>Mensajes de texto confirmando la llegada del representante del servicio (Asesor de Emergencia, grúa y abogado)</li>
								<li>Llamada telefónica de control de calidad</li>
							</ul>
						</li>
						<li>Asesoría legal a través de la red profesional más grande de Guatemala</li>
						<li>22 Centros de Atención Vehicular con Asesores técnicos capacitados para: inspecciones de pre aseguramiento, formalizaciones de reclamos y ajustes </li>
						<li>Autorización de reparaciones en 24 horas.</li>
						<li>Garantía de 12 meses en todas las reparaciones</li>
						<li>Red de proveedores de repuestos más grande de Guatemala con sistema de gestión en línea (órdenes de Compra y Despacho).</li>
						<li>Servicios de Asistencia Vehicular (grúa, abastecimiento de gasolina, cerrajero, carga de batería, hotel, taxi, entre otros servicios)</li>
					</ul>

					<p>Será un gusto para Seguros El Roble  contar con usted como uno de nuestros apreciables clientes</p>
					<p>
						Atentamente<br>
						${o?.creator?.profile?.mailSignature?.nl2br()}
					</p>
                    
                    </multiline>
                </div>
            </td>
        </tr>
        <tr><td class="w580" width="580" height="10"></td></tr>
    </tbody></table>
</layout>
									
