#{extends 'admin.html' /}

#{form @savePortfolioType(), class:"form-horizontal", method:"POST", role:'form'}
	<div class="well">	
		<div class="orange-title"><span>
		<h1>&{'portfolioType.form.title'}</h1>
		</span></div>
		#{if flash.error}
			<div class="alert alert-danger">
				${flash.error}
			</div>
		#{/if}
		#{if flash.success}
			<div class="alert alert-success">
				${flash.success}
			</div>
		#{/if}
		
		#{field 'portfolioType.id'}
		<input type="hidden" name="portfolioTypeId" value="${field.value}"/>
		#{/}
	
		#{field 'portfolioType.name'}
		<div class="form-group">
			<label class="col-sm-3 control-label" for="${field.id}">&{'portfolioType.form.name'}</label>
			<div class="col-sm-6">
				<input type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="form-control"/>
			</div>
		</div>
		#{/}
		
		#{field 'portfolioType.description'}
		<div class="form-group">
			<label class="col-sm-3 control-label" for="${field.id}">&{'portfolioType.form.description'}</label>
			<div class="col-sm-6">
				<textarea rows="3" cols="20" name="${field.name}" id="${field.id}" value="${field.value}" class="form-control"></textarea>
			</div>
		</div>
		#{/}
		
		#{field 'portfolioType.active'}
		<div class="form-group ${field.error?'has-error':''}">
			<label class="col-sm-3 control-label" for="${field.id}">&{'portfolioType.form.active'}</label>
			<div class="col-sm-6">

				#{select field.name, id:field.id, value:flash.get(field.name)?:(portfolioType?.active)      ?1:0, class:'form-control'}
					#{option 1}&{'portfolioTypesList.table.state.active'}#{/option}
					#{if profession?.id != null}
				    	#{option 0}&{'portfolioTypesList.table.state.inactive'}#{/option}
					#{/if}
				#{/select}
				#{if field.error}<span class="help-block">${field.error}</span>#{/if}


			</div>
		</div>
		#{/}

		#{field 'portfolioType.transferCode'}
            <div class="form-group">
                <label class="col-sm-3 control-label" for="${field.id}">&{'portfolioType.form.transferCode'}</label>
                <div class="col-sm-6">
                    <input type="text" name="${field.name}" id="${field.id}" value="${field.value}" class="form-control"/>
                </div>
            </div>
		#{/}
		
		<div class="form-group">
			<div class="col-sm-offset-3 col-sm-6">
				<input type="submit" class="btn btn-primary btn-block" value="${portfolioType?.id==null ? messages.get('portfolioType.form.create') : messages.get('portfolioType.form.edit')}" />
			</div>
			<div class="col-sm-offset-3 col-sm-6">
				<a class="btn btn-primary btn-block" href="@{portfolioTypesList(null,true)}">&{'portfolioType.form.cancel'}</a>
			</div>
		</div>
	</div>
#{/form}