@media only screen and (max-width: 768px) {
	
	/* Force table to not be like tables anymore */
	table.tablelist, 
	table.tablelist thead, 
	table.tablelist tbody, 
	table.tablelist th, 
	table.tablelist td, 
	table.tablelist tr { 
		display: block; 
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	table.tablelist thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	/*table.tablelist tr { border: 1px solid #ccc; }*/

	table.tablelist td { 
		/* Behave  like a "row" */ 
		position: relative;
		padding-left: 50% !important; 
		white-space: normal;
		text-align:left;
	}

	table.tablelist td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	table.tablelist td:before { content: attr(data-title); }
}