#{extends 'admin.html' /}

#{form @saveIncidentState(), class:"form-horizontal", method:"POST", role:"form", id:"form"}	

	<div class="well fixed-sidebar-parent">
		<div class="orange-title">
			<span>
				<h1>&{'incident.title'} ${incident?.number}</h1>
			</span>
		</div>

		#{if errors}
		<div class="alert alert-danger">
			&{'incident.attend.fielderrors'}
		</div>	
		#{/if}
		#{if flash.error}
            <div class="alert alert-danger">
			${flash.error}
            </div>
		#{/if}
		#{if flash.success}
			<div class="alert alert-success">
				${flash.success}
			</div>
		#{/if}
		
		<input type="hidden" name="id" value="${incident?.id}"/>
	
		#{field 'state'}
			<div class="form-group ${field.error?'has-error':''}">
				<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
				<div class="col-sm-6">
					#{select field.name, class:'form-control', value:field.flash?:field.value, id:'state'}
						#{option 0}&{'incident.attend.form.sold'}#{/option}
						#{option 1}&{'incident.attend.form.lost'}#{/option}
					#{/select}
					#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
				</div>
			</div>
		#{/}
		
		<div id="lost_div" style="display:none;">
		#{field 'noSaleReason'}
			<div class="form-group ${field.error?'has-error':''}">
				<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
				<div class="col-sm-6">
					#{select field.name, items:reasons, valueProperty:'id', labelProperty:'name', value:field.flash?:field.value, class:'form-control' /}
					#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
				</div>
			</div>
		#{/}
		</div>
		
		<div id="sold_div">
		#{field 'selectedQuotation'}
			<div class="form-group ${field.error?'has-error':''}">
				<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
				<div class="col-sm-8">
					#{select field.name, value:incident?.selectedQuotation?.id, class:'form-control', id:"selectedQuotation"}
						#{list incident?.quotations, as: 'quotation'}
							%{currencySymbol = (quotation?.product?.currency)? quotation.product.currency?.symbol + '.' : ''}%
							#{option quotation.id} ${quotation?.product?.name} - ${quotation?.creationDate?.format("dd/MM/yyyy HH:mm")}
                                #{if quotation.Deductibles().get("robo y/o hurto") != null}- Ded Robo: ${quotation?.Deductibles().get("robo y/o hurto").decimalFormat()}% #{/if}
                                #{if quotation.Deductibles().get("colision y/o vuelcos") != null}- Ded Daños: ${quotation?.Deductibles().get("colision y/o vuelcos").decimalFormat()}% #{/if}
								- Prima Total: ${currencySymbol} ${quotation.discountedPrime.doubleValue().decimalFormat()}#{/option}
						#{/list}
					#{/select}
					#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
				</div>
			</div>
		#{/}
		
		#{field 'selectedPaymentForm'}
			<div class="form-group ${field.error?'has-error':''}">
				<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
				<div class="col-sm-6">
					#{select field.name, value:incident?.selectedPaymentFrecuency?.id, class:'form-control', id:'quotationOptions'}
						#{list selectedQuotation?.quotationDetail?.paymentOptions, as: 'option'}
							%{currencySymbol = (selectedQuotation?.product?.currency)? selectedQuotation.product.currency?.symbol + '.' : ''}%
							#{option option.frecuencyId?:0}${option.numberOfPayments} pago${(option.numberOfPayments>1)?'s':''} ${option.frecuency?.toLowerCase()}${(option.numberOfPayments>1)?'es':''} - ${currencySymbol} ${option?.amount?.doubleValue().decimalFormat()} - Prima Total: ${currencySymbol} ${(option?.amount * option.numberOfPayments).doubleValue().decimalFormat()} #{/option}
						#{/list}
					#{/select}
					#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
				</div>
			</div>
		#{/}


				#{field 'policyValidity'}
                    <div class="form-group ${field.error?'has-error':''}">
                        <label class="col-sm-4 control-label" for="${field.id}">#{required/} Vigencia de póliza desde:</label>
                        <div class="col-sm-2">
                            <input type="text" name="${field.name}" id="${field.id}" value="${incident.policyValidity?.format('dd/MM/yyyy')}" class="form-control datePicker" maxlength="10" required/>
                        </div>
                    </div>
				#{/}

		
			#{field 'inspection'}
				<div class="form-group ${field.error?'has-error':''}">
					<label class="col-sm-4 control-label">#{required/} &{'incident.attend.form.requiresInspection'}</label>
					<div class="col-sm-6">
						<label class="radio-inline">
							<input type="radio" value="true" name="inspection" id="inspection_false" ${(inspection  == true) ? 'checked':''}/>
							&{'form.yes'}
						</label>
						<label class="radio-inline">
							<input type="radio" value="false" name="inspection" id="inspection_true" ${(inspection  == false) ? 'checked':''} />
							&{'form.no'}
						</label>
						#{if field.error}<span class="help-block">${field.error}</span>#{/if}
					</div>
                    <label class="col-sm-4 control-label">&{'incident.attend.form.requiresInspection.alert'}</label>
				</div>
			#{/}
			
			<div id="inspection_detail">
				#{field 'inspectionType'}
					<div class="form-group ${field.error?'has-error':''}">
						<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
						<div class="col-sm-6">
							#{list items:types, as:'type'}
								<label class="radio">
									<input type="radio" value="${type?.code}" name="inspectionType" id="inspection_true" ${(field.flash  == type?.code?.toString() || inspectionType == type.code)?'checked':''} />
									${type?.name}
								</label>
							#{/list}
							#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
						</div>
					</div>
				#{/}
				
				#{if inspectionNumber != null && inspectionNumber != ''}
					<div class="form-group" style="vertical-align: middle;">
						<label class="col-sm-4 control-label"></label>
						<div class="col-sm-6">
							<label style="margin-bottom: 0px;">
								Inspecci&oacute;n N&uacute;mero <span style="font-weight: bold;">${inspectionNumber}</span> Fecha de inspeccion: <span style="font-weight: bold;">${inspectionDate}</span>  Finalizada
							</label>
						</div>
					</div>
				#{/if}
				
				<div id="inspection_address">
					#{field 'inspectionAddress'}
						<div class="form-group ${field.error?'has-error':''}">
							<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
							<div class="col-sm-6">
								<input type="text" name="${field.name}" id="${field.id}" value="${field.flash ?: field.value}" class="form-control enabled"/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
							</div>
						</div>
					#{/}
					#{field 'appointmentDate'}
						<div class="form-group ${field.error?'has-error':''}">
							<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
							<div class="col-sm-6">
								<input type="text" name="${field.name}" id="${field.id}" value="${field.flash ?: field.value}" class="form-control enabled"/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
							</div>
						</div>
					#{/}
				</div>
				
				#{field 'inspectionNumber'}
					<div class="form-group ${field.error?'has-error':''}" id="inspection_number">
						<label class="col-sm-4 control-label" for="${field.id}">#{required/} &{'incident.attend.form.'+field.name}</label>
						<div class="col-sm-6">
							<input type="text" name="${field.name}" id="${field.id}" value="${field.flash ?: field.value}" class="form-control enabled"/>
							#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
						</div>
					</div>
				#{/}

				#{field 'inspectionDate'}
                    <div class="form-group ${field.error?'has-error':''}" id="inspection_Date">
                        <label class="col-sm-4 control-label" for="${field.id}">#{required/} Fecha de inspección:</label>
                        <div class="col-sm-2">
                            <input type="text" name="${field.name}" id="${field.id}" value="${dateInspectionDate?.format("dd/MM/yyyy")}" class="form-control datePicker"  maxlength="10"/>
							#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                        </div>
                    </div>
				#{/}

				<div id="inspection_auto_questions">
					#{field 'inspectionAutoQ1'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿Es propietario del vehículo?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
					#{field 'inspectionAutoQ2'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿El vehículo tiene una antigüedad menor a los 20 años?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
					#{field 'inspectionAutoQ3'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿Se encuentra en un lugar apropiado para realizar la inspección (con espacio suficiente e iluminado)?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
					#{field 'inspectionAutoQ4'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿El vehículo se encuentra en buenas condiciones generales?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
					#{field 'inspectionAutoQ5'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿Dispone de los documentos de identificación personales y del vehículo para realizar la auto inspección?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
					#{field 'inspectionAutoQ6'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿Dispone de un celular inteligente (smartphone) con cámara funcional y plan de datos para realizar la auto inspección?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
					#{field 'inspectionAutoQ7'}
                        <div class="form-group ${field.error?'has-error':''}" id="${field.id}">
                            <label class="col-sm-4 control-label" for="${field.id}">#{required/} ¿Acepta las condiciones y términos de realizar la auto inspección?</label>
                            <div class="col-sm-2">
                                <input type="checkbox" name="${field.name}" id="${field.id}" ${field.value == true ? 'checked' : ''}/>
								#{if field.error}#{if field.error}<span class="help-block">${field.error}</span>#{/if}#{/if}
                            </div>
                        </div>
					#{/}
				</div>
			</div>
         </div>
		
		<div class="form-group">
			<div class="col-sm-offset-4	 col-sm-2">
				<a class="btn btn-primary btn-block" href="@{incidentDetail(incident.id)}" class="btn btn-xs">&{'client.edit.cancel'}</a>
			</div>
			#{if incident?.policy == null || incident?.policy.trim() == ''}
				#{if incident?.status?.code == 2 || incident?.status?.code == 3 || incident?.status?.code == 4 || incident?.status?.code == 9}
					<div class="col-sm-2">
						<input type="submit" class="btn btn-primary btn-block" value="&{'incident.attend.save'}" />
					</div>
				#{/if}
			#{/if}
		</div>
		
		<div class="row">
			<div class="col-sm-offset-4 col-sm-6">
				#{requiredleyend/}
			</div>
		</div>
		
	</div>		
#{/form}

#{set 'moreStyles'}

<link href="@{'/public/mobiscroll/css/mobiscroll.scroller.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/mobiscroll/css/mobiscroll.animation.css'}" rel="stylesheet" type="text/css" />
<link href="@{'/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css'}"/>
<link href="@{'/public/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css'}"/>

#{/}

#{set 'moreScripts'}

<script src="@{'/public/mobiscroll/js/mobiscroll.core.js'}"></script>
<script src="@{'/public/mobiscroll/js/mobiscroll.scroller.js'}" type="text/javascript"></script>
<script src="@{'/public/mobiscroll/js/mobiscroll.datetime.js'}" type="text/javascript"></script>
<script src="@{'/public/mobiscroll/js/i18n/mobiscroll.i18n.es.js'}" type="text/javascript"></script>
<script src="@{'/public/bootstrap-datetimepicker/js/moment.min.js'}"></script>
<script src="@{'/public/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'}"></script>

	<script type="text/javascript">
		$(function(){

		    *{
			$('#appointmentDate').scroller({
				theme: 'default',
				mode: 'scroller',
				lang: 'es',
				display: 'modal',
				animate: 'slideup',
				preset: 'datetime',
	            minDate: new Date(${new Date().getTime() + 15*60*1000}),
            	stepMinute: 15
			});
			}*
            $(".datePicker").datetimepicker({
                locale: "es",
                format: "DD/MM/YYYY",
                dayViewHeaderFormat: "MMMM YYYY"
            });
			if (isTouchDevice()) {
                $('#appointmentDate').scroller({
                    theme: 'default',
                    mode: 'scroller',
                    lang: 'es',
                    display: 'modal',
                    animate: 'slideup',
                    preset: 'datetime',
                    minDate: new Date(${new Date().getTime() + 15*60*1000}),
                    stepMinute: 15
                });
            } else {
                $('#appointmentDate').datetimepicker({
                    locale: "es",
                    minDate: new Date(${new Date().getTime()}),
                    defaultDate: new Date(${new Date().getTime() + 15*60*1000}),
                    stepping: 15,
                    sideBySide: true
                });
            }
		
			showSelectedInspection();
			showSelectedInspectionType();
			showSelectedState();	
		
			$("input[name=inspection]").change(function() {
				showSelectedInspection();
			});
			
			$("input[name=inspectionType]").change(function() {
				showSelectedInspectionType();
			});
			
			function showSelectedInspection() {
				var value = $('input[name=inspection]:checked', '#form').val();
				if (value == "false") {
					$("#inspection_detail").hide();
				} else if (value=="true") {
					$("#inspection_detail").show();
				} else {
					$("#inspection_detail").hide();
				}
			}
			
			function showSelectedInspectionType() {
				var value = $('input[name=inspectionType]:checked', '#form').val();
				if (value == "${helpers.ERConstants.INSPECTION_TYPE_ADDRESS}") {
					$("#inspection_address").show();
					$("#inspection_number").hide();
                    $("#inspection_Date").hide();
				} else if (value=="${helpers.ERConstants.INSPECTION_TYPE_CENTER}") {
					$("#inspection_address").hide();
					$("#inspection_number").hide();
                    $("#inspection_Date").hide();
				} else if (value=="${helpers.ERConstants.INSPECTION_TYPE_SELLER}"){
					$("#inspection_address").hide();
					$("#inspection_number").show();
                    $("#inspection_Date").show();
				} else {
					$("#inspection_address").hide();
					$("#inspection_number").hide();
                    $("#inspection_Date").hide();
				}
			}
			
			function showSelectedState() {
				var state = $('#state').val();
				if (state==0) {
					$("#lost_div").hide();
					$("#sold_div").show();
				} else if (state==1) {
					$("#lost_div").show();
					$("#sold_div").hide();
				}
			}
		
			$('#state').change(function(){
				showSelectedState();
			});
			
			$('#selectedQuotation').change(function(){
				var id = $(this).val();
				var selectelement = $(this);
				var select = $("#quotationOptions");
				select.html("<option>&{'form.select.loading'}</option>");
				$.ajax({
					type : 'POST',
					url : '@{ServiceQuotations.paymentOptionsForQuotation()}', 
					data :  {id:id}, 
					success: function(response) {
						var html = "";
						select.empty();
						if (response.success) {
							$.each(response.options, function(index, option) {
								html += '<option value="'+option.value+'">'+option.name+'</option>';
							});
							select.html(html);
						} else {
							select.html("<option>&{'form.select.error'}</option>");
						}
					},
					error: function() {
						select.html("<option>&{'form.select.error'}</option>");
					},
					complete: function() {
						selectelement.prop('disabled', false);
					}
				});
				
			});
		});

        $(document).ready(function () {
        $(".onlyNumbers").keypress(function (e) {
            //Allow k, K and enter
            if (e.which==13) {
                return true;
            }
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        });
	</script>
#{/}
