
<div id="dialog-clients" title="Seleccion de Cliente" style="display: none">
    <p class="validateTips">Seleccionar cliente existente a utilizar.</p>

    <form>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>CIF</th>
                    <th>Fecha de Creacion</th>
                </tr>
            </thead>
            <tbody id="clientsTable">

            </tbody>
        </table>
        <!-- Allow form submission with keyboard without duplicating the dialog button -->
        <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </form>
</div>