#{extends 'admin.html' /}
<div>
	<input type="hidden" name="incidentId" value="${incidentId}"/>
	<input type="hidden" name="clientId" value="${client?.id}"/>
	<input type="hidden" name="client.id" value="${client?.id}"/>
	<input type="hidden" name="client.payer.id" value="${client?.payer?.id}"/>
	<input type="hidden" name="payer.id" value="${payer?.id}">
	<input type="hidden" name="client.multimedia.id" value="${client?.multimedia?.id}"/>
    <input type="hidden" name="client.codeClient" id="client_codeClient" value="${client?.codeClient}" />
    <input type="hidden" name="client.payer.codeClient" id="payer_codeClient" value="${client?.payer?.codeClient}" />
	<input type="hidden" name="activeTab" id="active_tab" value="${activeTab}" />
	<input type="hidden" name="doValidation" id="do_validation" value="true" />

</div>


